# Variables

In [9]:
 x = 6

In [10]:
type(x)

int

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [17]:
x = 2.54
y = 5.544

In [13]:
string = "shreyas"

In [15]:
type(string)

str

In [12]:
type(x)

float

In [21]:
print("this is x",x)

this is x 2.54

In [23]:
print("this is a string",string)

this is a string shreyas

In [20]:
print('welcome to blore')

welcome to blore

In [ ]:
# printing : i can use " ",' ',''' '''

In [25]:
print('this is first class of python')

this is first class of python

In [22]:
print(x*y)

10

Multiple variables can be assigned with the same value.

In [26]:
x=y=z=100

In [28]:
print(x,y,z)

100 100 100

In [29]:
x =10.8
type(x)   # return the type of the variable.

float

In [145]:
x="dsdsds"

'dsdsds'

# Operators

##Arithmetic Operators

# | Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [31]:
23%4

3

In [148]:
1+2

3

In [149]:
2-1

1

In [150]:
1*2

2

In [40]:
7//2

3

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [35]:
3.2//2

1.0

In [32]:
45.3//4

11.0

Floor division is nothing but converting the result so obtained to the lowest integer.

##Relational Operators: used to check conditions

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [1]:
x=5
y=5.5

In [3]:
x!=y

True

In [ ]:
# boolean : either true or false

In [36]:
z = 198

In [39]:
type(z)

int

In [44]:
z >=198

True

In [47]:
z >=198

True

In [49]:
z!=198

False

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [45]:
a = 2 #10
b = 3 #11

In [ ]:
10
11
10

In [49]:
bin(200)

'0b11001000'

In [47]:
print(a & b)

2

In [50]:
print(bin(a | b))

0b11

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [176]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

#Built-in Functions

Python comes loaded with pre-built functions

##Conversion from one system to another

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

In [52]:
hex(24)

'0x18'

In [ ]:
int(),hex(),bin(),

In [54]:
bin(59)

'0b111011'

In [180]:
(0xAA)

170

In [186]:
e = 23.54
type(e)

float

In [64]:
bin(4567)

'0b1000111010111'

In [67]:
int('1000111010111',9)

282477904264

In [68]:
int('0101010101',4)

69905

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [57]:
print(int('32434',8))

13596

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [25]:
print int(7.7)
print int('7')

7
7

Also note that function **bin( )** is used for binary and **float( )** for decimal/float values. **chr( )** is used for converting ASCII to its alphabet equivalent, **ord( )** is used for the other way round.

In [36]:
s = 55.65

In [37]:
type(s)

float

In [39]:
ss=int(s)

In [46]:
print(int(s))

5

In [40]:
type(ss)

int

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [71]:
round(5.56565,2)

5.57

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [29]:
c =complex('5+2j')
print abs(c)

5.38516480713

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [30]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [75]:
x=65

In [76]:
s = "sdsdf"
f = 65.76

In [81]:
isinstance("dsfdfdf",str)

True

In [74]:
print isinstance(1, int)
print isinstance(1.0,int)
print isinstance(1.0,(int,float))

SyntaxError: invalid syntax (<ipython-input-74-d84ff9731850>, line 1)

In [194]:
a="welcome"

In [195]:
isinstance(a,str)

True

In [199]:
isinstance(1.0,(int,str))

False

In [60]:
pow(5,5,3)

2

In [ ]:
#pow(a,b,c)-->( a^b)%c

In [67]:
pow(3,3,5)

2

In [69]:
(3*3*3)%5

2

In [62]:
(5*5*5*5*5)%3

2

**cmp(x,y)**   

|x ? y|Output|
|---|---|
| x < y | -1 |
| x == y | 0 |
| x > y | 1 |

In [83]:
import numpy as np

In [32]:
print cmp(1,2)
print cmp(2,1)
print cmp(2,2)

-1
1
0

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [85]:
pow(5,4)

625

In [87]:
pow(6,4,5)

1

In [88]:
print(pow(3,3))
print(pow(3,3,5)

27
2

In [6]:
a=pow(5,3)

In [7]:
a%4

1

In [8]:
pow(5,3,4)

1

In [54]:
pow(5,3,4),125%4

(1, 1)

In [52]:
range()

625

In [201]:
range(start,stop,step)

8

In [73]:
range(5,100)

range(5, 100)

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [16]:
print(list(range(10,100,4)))

[10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98]

In [12]:
print(range(20,100,5))

range(20, 100, 5)

In [94]:
range(10,100,2)

range(10, 100, 2)

In [56]:
range(5),range(0,5),range(0,5,1)

(range(0, 5), range(0, 5), range(0, 5))

In [57]:
range(0,100,3)

range(0, 100, 3)

In [72]:
range(start,stop,step)

2

In [63]:
places = ["blore","chennai","hyd"]

In [65]:
len(places)

3

In [66]:
type(places)


for i in range(len(places)):
    print(places[i])

blore
chennai
hyd

In [62]:
print(range(3))
print(range(2,9))
print(range(2,27,8))

range(0, 3)
range(2, 9)
range(2, 27, 8)

In [105]:
user_name=input("enter your name")
print("welcome",user_name)

enter your namedf
welcome df

##Accepting User Inputs

In [106]:
abc = input("enter age \t")

enter age 	34

In [3]:
print(abc)

27

In [36]:
type(abc)

str

**input( )**, this is used only for accepting only integer inputs.

In [13]:
abc1 =  input("Only integer can be stored in variable abc \t")

Only integer can be stored in variable abc 	shreyas

In [14]:
abc1

'shreyas'

Note that **type( )** returns the format or the type of a variable or a number