#Print Statement

The **print** statement can be used in the following different ways :

    - print ("Hello World")
    - print ("Hello", <Variable Containing the String>)
    - print "Hello" + <Variable Containing the String>
    - print "Hello %s" % <variable containing the string>

In [1]:
x=45
y=95.65

In [2]:
print("today is sat")

today is sat

In [14]:
print("this is x:",x)

this is x: 6.5

In [10]:
type(x)

str

In [11]:
print("this is int",x,"this is float",y)

this is int 6.5 this is float 95.65

In [ ]:
scipy

In [15]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\7314315\appdata\local\continuum\anaconda3\lib\site-packages (1.1.0)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 19.2.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [15]:
string1 = 'World'

In [16]:
print("hello", string1)

hello World

In [ ]:
hello world

In [17]:
string2 = 'social_p'
print ('Hello',string1,string2)

Hello World social_p

In [19]:
print(string1+" "+string2)

World social_p

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [21]:
print( 'Hello' +"   "+ string1 +"       "+ string2+"\n")

Hello   World       social_p

In [ ]:
#string formatting:

In [ ]:
#format specifiers : used to print vars of diff type:

In [20]:
string4="bangalore"

**%s** is used to refer to a variable which contains a string.

In [ ]:
print("this is a var ")

In [23]:
e=97877

In [28]:
print( "Hello %e" % e)

Hello 9.787700e+04

In [34]:
s = "bangalore"
ss="chennai"

In [23]:
name = "John"
name1 = "john2"
print("Hello, %s, %s!" % (name,name1))

Hello, John, john2!

In [44]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [40]:
print("city name %s" %s)

city name bangalore

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [12]:
print( "Actual Number = %d" %18)

Actual Number = 18

In [14]:
print("actual number = %d" %18)

actual number = 18

In [7]:
print( "Actual Number = %d" %18)
print "Float of the number = %f" %18
print "Octal equivalent of the number = %o" %18
print "Hexadecimal equivalent of the number = %x" %18
print "Exponential equivalent of the number = %e" %18

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [68]:
print("%s %s %s" %(string1,string2,string4))

World social_p bangalore

##Other Examples

The following are other different ways the print statement can be put to use.

In [80]:
print( "I want %%d to be printed %s" %'here')

I want %d to be printed here

In [10]:
print '_A'*10

_A_A_A_A_A_A_A_A_A_A

In [11]:
print "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [82]:
print( "I want \n to be printed.")

I want \n to be printed.

In [84]:
print( """
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

#PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [59]:
"%f"%3.12131231231243434343

'  3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [65]:
"%.10f" % 3.121312312312455757575757557575757557575

'3.1213123123'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [16]:
"%9.5f" % 3.121312312312

'  3.12131'

Zero padding is done by adding a 0 at the start of fieldwidth.

In [17]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

For proper alignment, a space can be left blank in the field width so that when a negative number is used, proper alignment is maintained.

In [33]:
print("%.9f"%3.121312312312)
print("%.9f"%-3.121312312312)

3.121312312
-3.121312312

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [19]:
print "%+9f" % 3.121312312312
print "% 9f" % -3.121312312312

+3.121312
-3.121312

As mentioned above, the data right aligns itself when the field width mentioned is larger than the actualy field width. But left alignment can be done by specifying a negative symbol in the field width.

In [20]:
"%-9.3f" % 3.121312312312

'3.121    '