All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

#Data Structures

In [ ]:
# lists,arrays,linked lists,dictionary,tuple:

In [2]:
a = []

In [3]:
list1 = [10,20,30,40,50,"today is sat"]    # homogenious values and heterogenious vals

In [5]:
data structures in python :lists,arrays,linked lists,dict,tuples,sets,maps

[]

In [1]:
list1 = []

In [2]:
x=5

In [9]:
list1[5]  # INDEXING

'today is sat'

In [10]:
list1[0:5]  #SLICING

[10, 20, 30, 40, 50]

In [ ]:
accessing of elements in lists:
    1.to access single element --> indexing
    2. to access multiple elements --> slicing

In simple terms, It is the the collection or group of data in a particular structure.

##Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [9]:
a = []

In [10]:
a

[]

In [11]:
print(type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [13]:
x = ['apple', 'orange','mango','banana','kiwi',g]

In [12]:
g = 'cherry'

In [20]:
x[5]  # indexing
x[0:3]  # slicing : first ele index to last ele+1

['apple', 'orange', 'mango']

In [14]:
print(x)

['apple', 'orange', 'mango', 'banana', 'kiwi', 'cherry']

In [27]:
fwd indexing : 0 to (n-1)
bwd indexing : -1 to -n

'banana'

In [31]:
xx= [[1,2,3],[4,5,6]]

In [37]:
xx[0][2]

3

In [29]:
len(x)

6

In [160]:
# len(x)-->  reutrn the length of any data str:
len(x)

7

In [39]:
for i

['apple', 'orange', 'mango', 'banana', 'kiwi', 'cherry']

In [159]:
for qqq in x:
    print(qqq)

apple
orange
mango
banana
kiwi
10
10.3

In [166]:
for i in range(len(x)):
    print(i)

0
1
2
3
4
5
6

In [18]:
f=10.3

In [12]:
g =10

In [21]:
x = ['a', 'o','m','b','k',g,f]     # creating a list using both vars and values

range(0, 10)

In [39]:
type(x[6])

float

######

In [76]:
x = ['apple', 'orange', 'mango', 'banana', 'kiwi','pineapple','guava']

In [77]:
x

['apple', 'orange', 'mango', 'banana', 'kiwi', 'pineapple', 'guava']

In [73]:
x

['apple', 'orange', 'mango', 'banana', 'kiwi']

In [74]:
y=[]
for zaz in x:
    y.append("this is"+zaz)

In [95]:
# list comprehension:
[i for i in x]

['apple', 'orange', 'mango', 'banana', 'kiwi', 'pineapple', 'guava']

In [97]:
q=["this is"+" "+i for i in x]

In [98]:
q

['this is apple',
 'this is orange',
 'this is mango',
 'this is banana',
 'this is kiwi',
 'this is pineapple',
 'this is guava']

In [87]:
a = [range(0,100,5)]

In [90]:
a=[2,3,4,3,5,5,3,2,2,8,6,555,55]

In [91]:
a

[2, 3, 4, 3, 5, 5, 3, 2, 2, 8, 6, 555, 55]

In [92]:
import numpy as np

In [94]:
np.min([x for x  in a])

2

In [82]:
for i,ii in enumerate(x[0:5]):
    print(i,ii)

0 apple
1 orange
2 mango
3 banana
4 kiwi

In [78]:
#enumerate type of for loop:
for index,element in enumerate(x):
    print(index,"--->",element)

0 ---> apple
1 ---> orange
2 ---> mango
3 ---> banana
4 ---> kiwi
5 ---> pineapple
6 ---> guava

### Indexing : square bracket: index of the element required.
### 2 types of indexing : 1. positive--->0 to (n-1)
### negative indexing : -1 to -n

In [36]:
x[0],x[1],x[2],x[3],x[4]

('apple', 'orange', 'mango', 'banana', 'kiwi')

In [43]:
x[-1],x[-2],x[-3],x[-4],x[-5]

('kiwi', 'banana', 'mango', 'orange', 'apple')

In [ ]:
slicing : to select more than 1 element from  a list

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [168]:
x[0],x[1]

('apple', 'orange')

#### Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [55]:
x,y

(['apple', 'orange', 'mango', 'banana', 'kiwi', 10, 10.3],
 ['carrot', 'potato'])

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [169]:
y = ['carrot','potato']

In [170]:
z=[x,y]

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [176]:
z[1][1]

'potato'

In [58]:
z[0]

['apple', 'orange', 'mango', 'banana', 'kiwi', 10, 10.3]

In [59]:
z  = [x,y]
print(z)

[['apple', 'orange', 'mango', 'banana', 'kiwi', 10, 10.3], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [8]:
z1 = z[0]
print z1

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [63]:
z=[x,y]

(['apple', 'orange', 'mango', 'banana', 'kiwi', 10, 10.3],
 ['carrot', 'potato'])

In [65]:
z[1][0]

'carrot'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [66]:
z[0][0]

'apple'

In [ ]:
a =[]

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
#slicing : list[start:end] 
#start   inclusive
#end   : exclusive

In [44]:
x

['apple', 'orange', 'mango', 'banana', 'kiwi']

In [53]:
x[-2:]

['banana', 'kiwi']

In [61]:
num = [2,4,6,8,10,12,14,16,18,20]

In [55]:
print (num[:])

[2, 4, 6, 8, 10, 12, 14, 16, 18, -20]

In [200]:
#to access elelmts of list in reverse order, we can use negative numbers:

[]

In [62]:
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

You can also slice a parent list with a fixed length or step length.

In [92]:
num[0:]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [59]:
len(num)

10

In [63]:
num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [64]:
max(num)

20

In [65]:
min(num)

2

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [ ]:
#concatenation of lists:

In [68]:
xx=[1,2,3] + [5,4,7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [102]:
x

['apple', 'orange', 'mango', 'banana', 'kiwi', 'pineapple', 'guava']

In [99]:
names = ['Earth','Air','Fire','Water']

In [103]:
x+names

['apple',
 'orange',
 'mango',
 'banana',
 'kiwi',
 'pineapple',
 'guava',
 'Earth',
 'Air',
 'Fire',
 'Water']

In [75]:
a=(names+xx)

In [2]:
names

['Earth', 'Air', 'Fire', 'Water']

In [104]:
names

['Earth', 'Air', 'Fire', 'Water']

In [106]:
'air' in names

False

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [83]:
b_value='Earth' in names

In [222]:
'Rajath' in names

False

In [85]:
type(b_value)

bool

In [107]:
a = [2,4,6,8,10]

In [109]:
min(a)

2

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [ ]:
min(),max() for lits containing string elements

In [99]:
mlist = ['bzaa','ds','nc','az','asass','alm','hfyuehdhdhdhhhhhhh']

In [100]:
min(mlist)

'alm'

In [111]:
print max(mlist)
print min(mlist)

SyntaxError: invalid syntax (<ipython-input-111-bba434bc1ef2>, line 1)

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [104]:
nlist = [1,94,93,1000]

In [105]:
print (max(nlist))
print (min(nlist))

1000
1

In [112]:
names

['Earth', 'Air', 'Fire', 'Water', 'bangalore']

In [110]:
#names.append() : add one element to the tail/. end of the list

In [3]:
names.append("bangalore")

In [5]:
print((names))

['Earth', 'Air', 'Fire', 'Water', 'bangalore']

In [113]:
names

['Earth', 'Air', 'Fire', 'Water', 'bangalore']

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [122]:
print(min(names, key=len))

Air

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

In [129]:
a=list('hello ,hi d s s s ')

In [132]:
type(a)

list

In [114]:
a

[2, 4, 6, 8, 10, 12, 14]

In [113]:
a.append(14) # adds to the end of the list

In [115]:
a.insert(4,100)
print(a)

[2, 4, 6, 8, 100, 10, 12, 14]

**append( )** is used to add a element at the end of the list.

In [125]:
lst = [1,1,4,8,7,1,2,3,4,7,7,7,7,7,7,7,8,8,8,4,4,4]

In [2]:
lst.append(100)
print (lst)

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 100]

In [5]:
print(lst.append(lst1))

None

**count( )** is used to count the number of a particular element that is present in the list.

In [117]:
lst.count(7)  # gives the frequency of the element in the list

8

In [119]:
lst

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4]

In [121]:
lst1 = [5,4,2,8]

In [122]:
lst.append(lst1)

In [126]:
print(lst)

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4]

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [127]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2, 8]

But if nested list is not what is desired then **extend( )** function can be used.

In [29]:
print(lst.extend(lst1))

None

In [19]:
lst.append(lst1)

In [16]:
lst

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [18]:
lst.index(7)

4

In [19]:
lst

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2, 8]

In [ ]:
insert(x,y)   #  insert the element y at the index position x

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [22]:
lst.insert(5,'these are numbers')
print( lst)

['these are numbers', 1, 1, 4, 8, 'these are numbers', 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [35]:
lst[5] = 'Python'
print lst

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

In [130]:
lst

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [129]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [34]:
lst.pop(4)

'these are numbers'

In [38]:
lst.insert(0,"python")

In [ ]:
#remove : to remove elements based on the element's name itself

In [51]:
type(lst.remove(8))

NoneType

In [132]:
a=[1,2,3,4]
a.remove(3)

In [133]:
a

[1, 2, 4]

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [49]:
lst.remove(7)
print(lst)

[1, 1, 4, 8, 1, 2, 3, 4, 8, 8, 8, 4, 4]

In [54]:
lst

[1, 4, 1, 2, 3, 4, 8, 8, 4, 4]

Alternative to **remove** function but with using index value is **del**

In [55]:
del lst[4]
print(lst)

[1, 4, 1, 2, 4, 8, 8, 4, 4]

In [134]:
lst

[1, 1, 4, 8, 7, 1, 2, 3, 4, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 4, 4, 4, 5, 4, 2]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [135]:
lst.reverse()
print(lst)

[2, 4, 5, 4, 4, 4, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 4, 3, 2, 1, 7, 8, 4, 1, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [62]:
lst2

In [69]:
lst.sort()     # ascending order
print(lst)

[1, 1, 2, 4, 4, 4, 4, 8, 8]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [70]:
lst.sort(reverse=True)     # desending order
print(lst)

[8, 8, 4, 4, 4, 4, 2, 1, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [71]:
names = ['']

NameError: name 'names' is not defined

In [43]:
names.sort()
print names
names.sort(reverse=True)
print names

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length key=len should be specified as shown.

In [44]:
names.sort(key=len)
print names
names.sort(key=len,reverse=True)
print names

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [73]:
lista= [2,1,4,3]

In [74]:
listb = lista     # shallow copy
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [47]:
lista.pop()
print lista
lista.append(9)
print lista

[2, 1, 4]
[2, 1, 4, 9]

In [48]:
print listb

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [49]:
lista = [2,1,4,3]

In [50]:
listb = lista[:]
print listb

[2, 1, 4, 3]

In [51]:
lista.pop()
print lista
lista.append(9)
print lista

[2, 1, 4]
[2, 1, 4, 9]

In [52]:
print listb

[2, 1, 4, 3]

##Tuples: data strs, similar to lists, elements inside a tuple are immutable.
they cant be changed.

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [53]:
xyz = divmod(10,3)
print xyz
print type(xyz)

(3, 1)
<type 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [103]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [104]:
type(tup2)

tuple

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [109]:
tup3 = tuple([1,2,3,4,5,6,7])
print(tup3)
print(type(tup3))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [110]:
tup3[2:5]

(3, 4, 5)

In [140]:
tup3.index(4)

3

In [114]:
tup4 = tuple('Hello  sdfdfdf')
print(tup4)

('H', 'e', 'l', 'l', 'o', ' ', ' ', 's', 'd', 'f', 'd', 'f', 'd', 'f')

It follows the same indexing and slicing as Lists.

In [115]:
tup4[0]

'H'

In [90]:
print(tup3[1:])

(2, 3)

In [91]:
print(tup4[:3])

('H', 'e', 'l')

### Mapping one tuple to another

In [117]:
(a,b,c)= ('alpha','beta','gamma')

In [125]:
a=tuple([['shrey','shrey'],['shr','ddd']])

In [130]:
a[0][0][0]

's'

In [124]:
a[0]

'shrey'

In [119]:
type(b)

str

In [100]:
d = tuple('RajathKumarMP')

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [131]:
l=[1,1,1,1,1,3,3,3,3]

In [133]:
l.count(3)

4

In [101]:
d.count('a')    # frequency of an element

3

'beta'

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [135]:
a.index('shr')

ValueError: tuple.index(x): x not in tuple

##Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [142]:
set(l)

{1, 3}

In [143]:
set1 = set()
print( type(set1))

<class 'set'>

In [144]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

###Built-in Functions

In [145]:
set1 = set([1,2,3])

In [146]:
set2 = set([2,3,4,5])

In [ ]:
set1.

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [149]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [150]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [70]:
set1.intersection(set2)  === set2.intersection(set1)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [71]:
set1.difference(set2)

{0, 1}

In [153]:
set1,set2

({0, 1, 2, 3}, {2, 3, 4, 5})

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [151]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [73]:
set1.issubset(set2)

False

In [74]:
set2.isdisjoint(set1)

False

In [75]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set

In [154]:
set1.pop()
print( set1)

{1, 2, 3}

**remove( )** function deletes the specified element from the set.

In [77]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [155]:
set1.clear()
set1

set()

In [162]:
set2.add(1)

In [163]:
set2

{1, 2, 3, 4, 5, 55}