All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

#Control Flow Statements  : techniques to control the flow of the programme:

##If

In [ ]:
i

if some_condition:
    
    algorithm

In [ ]:
#syntax:


if condition c1:
    
    
    
    perform statement 1
    perform statment 2       # block 1
    
    .
    .
    .
    .
    perform statment n
    
    etc...
    
    
if(cond c2):
    perfrom stmt 3

In [2]:
x = 1
if x==10:
    
    print (" x is == 10")
print("this is printed any ways")

this is printed any ways

##If-else

if some_condition c1 is true:
    
    algorithm a1
    
else:  # if its false:
    
    algorithm  a2

In [4]:
x = 99
if x > 10:
    print(" x is more than  10.. its true")
else:
    print(" x is not equal 10.. its false")

 x is more than  10.. its true

In [ ]:
# if -else : to check only 1 condition:

In [ ]:
# to check multiple conditions.

#if-elif  : always used to check >1 condition  if-elif ladder

if some_condition c1:
    
    algorithm 1

elif some_condition c2:
    
    algorithm 2
elif some_condition c3:
    
    algorithm 3
elif some_condition c4:
    
    algorithm 4

else:
    
    algorithm

In [5]:
x = 10
y = 12
z = 2
if x > y:
    
    print(" x is > y")
    
elif x > z:
    print("x is more than z")
elif y < z:
    print("y is  les than than z")
else:
    print("x is  less than both y and z")
    
    
print("printed anyways")

x is more than z
printed anyways

 nested if:if statement inside a if statement or if-elif or if-else are called as nested if statements.

nested if:

if(cond c1):

   if(cond c2):
   
      print("nested if")

In [6]:
x = 140
y = 12
z = 25
if x > y:
    
    print(" x is > y")
    if x > z:  # nested if 
        print("inside nested if and x is max(x,y,z)")
        
        
    
elif x > z:
    print("x is more than z")
elif y < z:
    print("y is  les than than z")
else:
    print("x is  less than both y and z")
    
    
print("printed anyways")

 x is > y
inside nested if and x is max(x,y,z)
printed anyways

In [ ]:
if,else-if,elif,nested if:

In [22]:
# how to use if with lists:
# iterate over the list, and if any string is found --> print the string 
list1=[1,2,3,4,"dog",5,6,7,"apple","banana","cat"]
list1

[1, 2, 3, 4, 'dog', 5, 6, 7, 'apple', 'banana', 'cat']

In [29]:
if (type(list1[4])==str):
    print("its a string")
    print(list1[4])

its a string
dog

In [19]:
list1=[1,2,3,4,"d",5,6,7,"a","b","c"]

for i in range(len(list1)):
    if type(list1[i])==str:
        print(list1[i])

d
a
b
c

In [58]:
x = 30
y = 12
z = 22
if x > y:
    print(" x is > y")
    if x > z:
        print("x is the largest of x,y,z")
elif x > z:
    print("x is more than z")
elif y < z:
    print("y is  les than than z")
else:
    print("x is  less than both y and z")

 x is > y
x is the largest of x,y,z

##Looping construct : to iterate over any given data structure : lists,arrays,dictionaries.

###For:

for variable in something:
    
    algorithm

In [5]:
for i in range(5):
    print i

0
1
2
3
4

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [ ]:
#nested lists : list within a list

In [30]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
for loops:  --> used to iterate over datas structure:
        3 types

9

In [60]:
len(l)

5

In [61]:
range(5)

range(0, 5)

In [ ]:
for i in range(len(l)):
    
    
    set of n statements
    
i = value of the iteration/iterable tht keeps on increasing

In [70]:
l=[2,4,6,8,10]
for i in range(len(l)):
    
    print(l[i])

2
4
6
8
10

A use case of a nested for loop in this case would be,

In [ ]:
#second type of for : 

for item in list:
    perform set of n statements

In [84]:
for number in l:
    print(number)

2
4
6
8
10

In [85]:
b=[]

In [92]:
l

[2, 4, 22, 6, 8, 10]

In [91]:
l.insert(2,22)

In [98]:
b=[]

In [103]:
b=[]

In [106]:
b=[]

In [108]:
b

[22, 6, 8, 10]

In [107]:
 i=0
for a in l:
   
    print(a)
    if(a>5):
        b.insert(i,a)
        i=i+1

2
4
22
6
8
10

In [116]:
l=[]
l1=list()
type(l),type(l1)

(list, list)

In [117]:
l=[1,2,3,4,5]

In [121]:
list_of_names=[]
for i in range(5):
    
    name =input("please enter name")
    list_of_names.append(name)

please enter nameshreyas
please enter nameaaa
please enter nameass
please enter namesss
please enter namesss

In [122]:
list_of_names

['shreyas', 'aaa', 'ass', 'sss', 'sss']

In [ ]:
#3rd type of for loop:
work with both the  iterable/index as well as the element :
    enumerate : --> 2   
list1=list()

for index,element in list1:
    set of n stmtms:

In [112]:
l

[2, 4, 22, 6, 8, 10]

In [115]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 4
2 22
3 6
4 8
5 10

In [125]:
# NESTED FOR :
for item1 in list1:
    for item2 in item1:
        print(item2)

8

In [126]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for y in x:
    for z in y:
        print(z)

1
2
3
4
5
6
7
8
9

In [131]:
for item in x:
#     print(item)
    for item1 in item:
        print(item1)

1
2
3
4
5
6
7
8
9

###While

while some_condition c1:
    
    algorithm a1

In [133]:
i = 1
while i <= 10:
    
    print(i ** 2)
    i = i+1
print('Bye')

1
4
9
16
25
36
49
64
81
100
Bye

##Break   :
if condition c1:
    break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [135]:
for i in range(100):
    print (i)
    if i>=34:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

##Continue

In [137]:
names =['a','b','c','z','r','p']

In [142]:
for i in names:
    print(i)
    if i=='z':
         continue

a
b
c
z
r
p

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [10]:
for i in range(10):
    if i>4:
        print "The end."
        continue
    elif i<7:
        print i

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

##List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [11]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print res

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [12]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

That's it!. Only remember to enclose it in square brackets

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [13]:
[27*x for x in range(1,20) if x<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Let me add one more loop to make you understand better,

In [14]:
[27*z for i in range(50) if i==27 for z in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]