# Data Types

## There are eight kinds of types supported by PyTables:

- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- uint: Unsigned integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- complex: Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits and extended precision complex (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.
- time: Data/time types. Supported precisions: 32 and 64 (default) bits.
- enum: Enumerated types. Precision depends on base type.

In [138]:
type(23)  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
type(None) # returns 'NoneType'

<class 'float'>
<class 'str'>
<class 'bool'>

NoneType

In [2]:
a=3
a
print(type(a))
a

<class 'int'>

3

In [3]:
a="shreyas"
b="manasa"
c="hello"
print(a,b,c)

shreyas manasa hello

In [5]:
print("manasa","shreyas")

manasa shreyas

In [19]:
from datetime import date
from datetime import datetime
today = date.today()
print(today)
print(datetime.now())

2019-06-03
2019-06-03 09:19:16.273394

In [21]:
type(today)

datetime.date

In [22]:
d= datetime.hour

In [20]:
date.today()

datetime.date(2019, 6, 3)

In [25]:
from datetime import date
mon=date.today()
print(mon)

2019-06-03

In [8]:
from datetime import date
day1 = date(2007, 12, 5)
print(day1)

2007-12-05

In [18]:
my_birthday = date(1993, 5, 28)
##my_birthday = my_birthday.replace(year=today.year + 1)
new_bday= my_birthday.replace(year=today.year + 1)
print(my_birthday)
today = date.today()

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday)
print(my_birthday)
print(new_bday)

1993-05-28
9115 days, 0:00:00
1993-05-28
2019-05-28

In [45]:

x = date.today()
print(x)

2018-05-12

In [48]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

2018-05-12
5
6
2018-05-12

In [53]:
print(date.weekday(date.today()))

5

In [64]:
date.today()

datetime.date(2018, 5, 12)

In [55]:
import time

In [70]:
from datetime import timedelta
next_time = date.today()+timedelta(days = 354)
next_time
date.day

In [63]:
date.fromtimestamp(time.time())

datetime.date(2018, 5, 12)

In [73]:
print(today)
next_time

2018-05-12

datetime.date(2019, 5, 1)

# Math Operators

In [74]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10 ** 4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2 because both types are 'int’) 
print(10 / float(4)) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
2.5
1

In [28]:
int(10+4.2)

14

# Logical / Comparision Operators

In [76]:
# comparisons (these return True) 
print(5 > 32)
print(5 >= 3)
print(5 != 3)
print(5 == 5) # boolean operations (these return True) 
print(5 > 3 and 6 > 3 )
print(5 > 3 or 5 < 3 )
# evaluation order: not, and, or

False
True
True
True
True
True

In [35]:
print(5 >= 3 and 6 > 100)

False

# Conditional Statements

In [77]:
x = 0
# if/elif/else statement
if x > 0:
    print('positive') 
elif x == 0: 
    print('zero') 
else: print('negative')

zero

In [ ]:
if x > 6:

In [ ]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [94]:
my_list = [3,4.5,"data science"]

In [97]:
family = ['mom','dad','me']
family.extend(['bro','uncle','aunt'])
family

['mom', 'dad', 'me', 'bro', 'uncle', 'aunt']

In [98]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

homer
3
['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

'dad'

In [53]:
family

['mom', 'bro', 'uncle', 'aunt']

In [100]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

['maggie', 'krusty', 'marge', 'lisa', 'itchy', 'scratchy']

ValueError: list.remove(x): x not in list

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [104]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
zero = (0,) # trailing comma is required to indicate it's a tuple 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

two
3
1

In [70]:
len(digits)

3

In [61]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

4

In [62]:
digits[1]= 'one' #returns an assignment error

TypeError: 'tuple' object does not support item assignment

# Strings

In [105]:
# create a string 
s = str(42) # convert another data type into a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

'u'

In [75]:
s1 = 'Hello Data Science World'
s1[11:15]

'Scie'

In [79]:
s1[-10:-2]

'ence Wor'

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [26]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
family = {'dad':'homer', 'mom':'marge', 'size':6}

In [45]:
family.fromkeys(family,'mom')

{'dad': 'mom', 'mom': 'mom', 'size': 'mom'}

In [ ]:
dictionary.keys() --> keys of the dictionary
dictionary.values()--> values of the dict.
dictionary.items()-> key and value pair as a dict_items

In [120]:
family1 = {'1':'homer', '2':'marge', '3':6} 
family['1']

KeyError: '1'

In [52]:
d={'1':'punto','2':'getz'}
family = {'dad':'homer', 'mom':'marge', 'size':6}

In [113]:
family2 = dict(dad='homer', mom='marge', size=6) 
family2['dad']

'homer'

In [53]:
d

{'1': 'punto', '2': 'getz'}

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [89]:
# create an empty set
empty_set = set()
# create a set
languages = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python']) # create a set from a list 
# examine a set 
len(languages) # returns 3

3

In [93]:
languages.union(snakes)

{'cobra', 'java', 'python', 'r', 'viper'}

In [ ]:
empty_set = set()

# Functions

In [123]:
# define a function with no arguments and no return values 
def print_text(): 
    print('this is text') 

# call the function 
print_text()

this is text

In [124]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

2

In [8]:
fruits

['apple', 'banana', 'cherry', 'mango', 'strawberry']

# Loops

In [10]:
for item in list:
    print(item)

apple
banana

In [6]:
# for loop (not recommended) 
fruits = ['apple', 'banana', 'cherry',"mango","strawberry"] 

for zzz in fruits:
    print(zzz)

apple
banana
cherry
mango
strawberry

In [18]:
for i in range(34,100,3):
    
    print("the number is",i)

the number is 34
the number is 37
the number is 40
the number is 43
the number is 46
the number is 49
the number is 52
the number is 55
the number is 58
the number is 61
the number is 64
the number is 67
the number is 70
the number is 73
the number is 76
the number is 79
the number is 82
the number is 85
the number is 88
the number is 91
the number is 94
the number is 97

In [147]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 

for x in fruits: 
	print(x) 
    
fruit

apple
banana
cherry
mango

'mango'

In [144]:
a= ar

NameError: name 'ar' is not defined